<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//brick.a.ssl.fastly.neSource+Code+Pro:400,600,700,90Source+Sans+Pro:400,600,900,400i">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
    {% include post-navigation.html %}
    <section class="post">
	
	{{ content }}

	<p class="dotted-hr">---</p> 

    <div class="related">
      <h1>Related Posts</h1>
      <ul>
      <li><span>Mar 29, 2014</span> » <a href="/2011/11/22/open-source-everything.html">Open Source (Almost) Everything</a></li>
      <li><span>Apr 07, 2014</span> » <a href="/2011/05/03/rejected-bio-from-the-setup.html">Rejected Bio from The Setup</a></li>
      <li><span>Sep 01, 2015</span> » <a href="/2011/03/29/ten-lessons-from-githubs-first-year.html">Ten Lessons from GitHub's First Year</a></li>
      </ul>
    </div>
    </section>
    </body>
</html>